
-content_for :top_bar_title do
  =@sector

-content_for :top_bar_search do
  =render 'shared/search', data: {path: warehouse_path(@sector.warehouse), placeholder: 'Номер сектора'}

-breadcrumb :warehouse, @sector.warehouse

=render 'shared/edit_form', object: @sector
