
-content_for :top_bar_title do
  ='Новый сектор'

-content_for :top_bar_search do
  =render 'shared/search', data: {path: warehouse_sectors_path(@sector.warehouse), placeholder: 'Номер сектора'}

=render 'shared/edit_form', object: [@sector.warehouse,  @sector]
