
-content_for :top_bar_title do
  ='Новый сектор'

=render partial: 'shared/edit_form', locals: {object: @sector,
                                              object_path: warehouse_sector_path(@sector.warehouse, @sector)}
