
%nav.top-bar.data-topbar
  -if content_for? :top_bar_title
    %ul.title-area
      .name
        %h2=yield :top_bar_title

  -if content_for :top_bar_links
    %section.top-bar-section
      %ul.left
        %li
          =yield :top_bar_links

  %section.top-bar-section
    %ul.right
      %li.has-form
        =yield :top_bar_search
