
.main-content
  .row
    .medium-6.large-4.columns
      =simple_form_for object,  html: {id: :"edit_form"} do |f|
        =f.input :name
        =f.input :foto_url
        =f.input :max_cell_count
        =f.input :count
        -ws = Warehouse.all
        =select_tag "dynamic_warehouse_id", options_from_collection_for_select(ws, "id", "to_s")
        -ss = Sector.where(warehouse: ws[1])
        =select_tag "dynamic_sector_id", options_from_collection_for_select(ss, "id", "to_s")
        -cc = Cell.where(sector: ss[1])
        =select_tag "dynamic_cell_id", options_from_collection_for_select(cc, "id", "to_s")
        %p
          =link_to 'Сохранить', "", class:'button tiny success',
                                     onclick: "$('#edit_form').submit()"
          =link_to 'Отмена', :back,  class: 'button tiny secondary'
