
-content_for :top_bar_title do
  =@item.name

-content_for :top_bar_search do
  =render 'shared/search', data: {path: items_path, placeholder: 'Наименование'}

-if @item.cell
  -breadcrumb :cell, @item.cell

=render 'edit_form'
