
-content_for :top_bar_title do
  ='Товары'

-content_for :top_bar_links do
  =link_to 'Создать', new_item_path, class: 'button'

.main-content
  .row
    -@items.each do |item|
      =render 'form', item: item
