
-content_for :top_bar_title do
  ='Товар'

-if @cell.item.nil?
  -content_for :top_bar_links do
    =link_to 'Создать', new_cell_item_path(@cell), class: 'button'

-breadcrumb :cell, @cell

-if @cell.item
  .main-content
    .row
      =render 'items/form', item: @cell.item
