
-content_for :top_bar_title do
  ='Товар'

-if @cell.item.nil?
  -content_for :top_bar_links do
    =link_to 'Создать', new_cell_item_path(@cell), class: 'button'

-content_for :top_bar_search do
  =render 'shared/search', data: {path: sector_path(@cell.sector), placeholder: 'Номер ячейки'}

-breadcrumb :cell, @cell

-if @cell.item
  .main-content
    .row
      =render 'items/form', item: @cell.item
