
-content_for :top_bar_title do
  =@cell

//-content_for :top_bar_links do
//  =link_to 'Создать', new_sector_cell_path(@sector), class: 'button'

-breadcrumb :cell, @cell

.main-content
  .row
    //-@sector.cells.each do |o|
    //  =render 'shared/article_card', object: o
