
.main-content
  .row
    .medium-6.large-4.columns
      =simple_form_for @warehouse, validation: true, html: {id: :edit_warehouse} do |f|
        =f.input :number, label: 'Номер', as: :integer
        %p
          =link_to 'Сохранить', "#", class:'button tiny success',
                                     onclick: "$('#edit_warehouse').submit()"
          =link_to 'Отмена', :back,  class: 'button tiny secondary'
