
-content_for :top_bar_title do
  =@warehouse

-content_for :top_bar_search do
  =render 'shared/search', data: {path: warehouses_path, placeholder: 'Номер склада'}

=render 'shared/edit_form', object: @warehouse
