
-content_for :top_bar_title do
  ="Секторы"

-content_for :top_bar_links do
  =link_to 'Создать', new_warehouse_sector_path(@warehouse), class: 'button'

-breadcrumb :warehouse, @warehouse

.main-content
  .row
    -@warehouse.sectors.each do |sector|
      =render 'shared/article_card', object: sector
