
-content_for :top_bar_title do
  ="Секторы"

-content_for :top_bar_links do
  =link_to 'Создать', new_warehouse_sector_path(@warehouse), class: 'button'

-content_for :top_bar_search do
  =render 'shared/search', data: {path: warehouse_path(@warehouse), placeholder: 'Номер сектора'}

-breadcrumb :warehouse, @warehouse

.main-content
  .row
    -@sectors.each do |sector|
      =render 'shared/form', object: sector
